.main-page{
  background-size: cover;
}
.header{
  text-align: center;
  padding: 30px;

  a {
    color: #b374a8;
    font-size: 30px;
    font-weight: bold;
    margin-right: 40px;
    text-decoration: none;

  }
}